.results img {
	border-radius: 15px;
	height: 250px;
	width: 250px;
}

.results {
	border: 1px solid #000000;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	text-align: center;
}

.hidden {
	display: none;
}

.returnContent {
	display: block;
	float: right;
}

.mindblow {
	display: block;
	margin: 15px auto;
}

.header h1 {
	text-align: center;
}

.logo {
	height: 200px;
	width: 75%;
	display: block;
	margin: 5px auto;
}

.searchBtn {
	margin: 5px 20px;
}

.appendPlatform {
	height: 180px;
	overflow: auto;
}

.gameContent {
	display: block;
}

.left-button {
	height: 75px;
	width: 75px;
	margin: 15px;
}

.right-button {
	height: 75px;
	width: 75px;
	margin: 15px;
}

.circles {
	margin: 5px;
	border-radius: 50%;
}

.buttonContainer {
	vertical-align: middle;
	height: 100px;
	margin-left: 3%;
	margin-right: auto;
}

.thumb {
	vertical-align: middle;
	height: 65px;
	width: 65px;
}

.selected {
	height: 90px;
	width: 90px;
	border: 15px dotted rgba(223, 105, 26, 1);
}

.deselected {
	opacity: 100%;
}

.glyphicon {
	font-size: 60px;
	text-align: center;
	vertical-align: middle;
	color: rgba(223, 105, 26, 1);
}

.footer {
	padding: 5px auto;
}

